.leader {
  position: relative;
  padding: 120px 0;
  background-image: url('../img/we-map.png');
  background-repeat: no-repeat;
  background-position: right 0;

  @media (max-width: $breakpoint1450) {
    padding: 80px 0;
    background-size: 700px;
  }

  @media (max-width: 1200px) {
    background-size: 400px;
    background-position: right 200px;
  }

  @media (max-width: $breakpoint992) {
    padding: 50px 0;
    background: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 715px;
    background-image: url('../img/leader-bg.png');
    background-repeat: no-repeat;

    @media (max-width: $breakpoint1450) {
      content: none;
    }
  }

  // .leader__main

  &__main {
    display: flex;
    margin-bottom: 110px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 50px;
    }
  }

  // .leader__info

  &__info {
    flex: 0 1 572px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 100%;
    }
  }

  // .leader__title

  &__title {
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      width: 70px;
      height: 70px;
      background-image: url('../img/hero-bullet.png');

      @media (max-width: $breakpoint992) {
        top: 0;
      }
    }
  }

  // .leader__texts

  &__texts {}

  // .leader__text

  &__text {

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: $breakpoint768) {
        margin-bottom: 20px;
      }
    }
  }

  // .leader__text--yellow

  &__text--yellow {
    color: var(--yellow-color);
  }

  // .leader__img-map

  &__img-map {
    // position: absolute;
    // right: 0;
  }

  // .leader__footer

  &__footer {
    position: relative;
    display: flex;
  }

  // .leader__view

  &__view {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 65px 60px;
    background-image: url('../img/calc-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--blue-color);
    border-radius: 30px;

    @media (max-width: $breakpoint992) {
      justify-content: space-between;
      padding: 65px 40px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      padding: 30px;
    }
  }

  // .leader__download

  &__download {
    margin-bottom: 0;
    margin-right: 50px;

    @media (max-width: $breakpoint992) {
      margin-right: 20px;
    }

    @media (max-width: $breakpoint768) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  // .leader__link

  &__link {
    display: flex;
    align-items: center;
  }

  // .leader__link-play

  &__link-play {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin-right: 20px;
    border-radius: 100%;
    background: linear-gradient(180deg, #FCE18B 0%, #FDCC43 100%);
    box-shadow: 0px 4px 4px #AB800A;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1F1F1F;
    transition: box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0px 0px 20px #AB800A;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -36%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid var(--blue-color);
    }
  }

  // .leader__link-texts

  &__link-texts {
    font-size: 14px;
    line-height: 18px;
  }

  // .leader__link-text

  &__link-text {
    color: var(--white-color);
  }

  // .leader__link-text--yellow

  &__link-text--yellow {
    color: var(--yellow-color);
  }

  // .leader__footer-img

  &__footer-img {
    position: absolute;
    right: 20px;
    bottom: 0;

    @media (max-width: 1200px) {
      height: 400px;
    }

    @media (max-width: $breakpoint992) {
      display: none;

    }
  }
}